@font-face {
  font-family: Jost;
  font-weight: 400;
  src: url('./Jost-Regular.woff2'), url('./Jost-Regular.woff');
}

@font-face {
  font-family: Jost;
  font-weight: 500;
  src: url('./Jost-Medium.woff2'), url('./Jost-Medium.woff');
}

@font-face {
  font-family: Jost;
  font-weight: 600;
  src: url('./Jost-SemiBold.woff2'), url('./Jost-SemiBold.woff');
}

@font-face {
  font-family: 'DM Serif Display';
  font-weight: 400;
  src: url('./DMSerifDisplay-Regular.woff2'), url('./DMSerifDisplay-Regular.woff');
}
