@import '../constants.scss';

.achievements {
  background-color: #f4f0ec;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  display: flex;
  justify-content: center;
  margin-bottom: 96px;

  &__item {
    margin: 151px 0;
    padding: 0 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &-title {
      margin: 0;
      font-family: $dmSerifDisplay;
      font-size: 85px;
      line-height: 125%;
      letter-spacing: 0.02em;
      color: #cda274;
    }
    &-subtitle {
      margin: 0;
      font-family: $jost;
      font-size: 22px;
      line-height: 150%;
      letter-spacing: 0.01em;
      color: $secontFontColor;
    }
  }
  &__item:not(:last-of-type) {
    border-right: 1px solid #cda274;
  }
}
