$mainFontColor: #292f36;
$secontFontColor: #4d5053;
$hoverColor: #cda274;
$tagBgColor: #f4f0ec;

$mainFont: 'DM Serif Display', 'Times New Roman', Times, serif;
$secondFont: Jost, Arial, Helvetica, sans-serif;
